body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-bar {
  background-color: rgb(233, 233, 233);
  height: 5vh;
  border: none;
}

.main {
  background-color: rgb(160, 160, 161);
  height: 95vh;
  border: none;
}

.fas {
  margin: 0 5px !important;
}