.nav-bar {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    height: 7vh;
    border: none;
    z-index: 10;
    background: linear-gradient(to right bottom, rgba(151, 151, 151, 0.479), rgba(151, 151, 151, 0.171));
    backdrop-filter: blur(1rem);
}

.navbar-sticky {
    position: fixed;
    width: 100%;
}

.logo {
    display: inline-block;
}

.logo h3 {
    text-align: center;
    width: 175px;
    display: inline-block;
    text-decoration: none;
    color: white;
}

.nav-links {
    display: flex;
    list-style: none;
    margin-right: 2em;
}

.nav-item {
    margin: 15px;
    display: inline;
    border-radius: 50px;
}

.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.123);
}