.side-bar {
    background-color: rgb(46, 46, 46) !important;
    color: antiquewhite;
    height: 95vh;
    border: none;
    padding: 1em;
    overflow-y: scroll;

    .divider {
        background-color: beige !important;
        height: 2px !important;
        margin: 2px 0 2px 0 !important;
    }

    .job-cleaner {
        display: flex;
        flex: 1;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        padding: 1em;

        button {
            background-color: #ccad00 !important;
        }

        h6 {
            color: #ccad00;
        }
    }

    .search {
        align-items: center;
        text-align: center;

        input {
            background-color: aliceblue;
            border: solid black 1px;
            border-radius: 5px;
        }

        p {
            color: rgb(161, 161, 161) !important;
        }

        div {
            margin-top: 1em;
            text-align: left;
        }
    }

    div {
        .filter-btn {
            color: white !important;
            background-color: rgb(78, 78, 78);
            height: 20px;
            margin-left: 1em !important;
        }
    }


    .list-btn {
        color: white !important;
        background-color: rgb(78, 78, 78);
        height: 20px;
        margin-left: 5px !important;
    }
}